%ul.user_counts_list
  %li.count_item
    .count= user.articles.count
    .count_type Posts
  %li.count_item
    =link_to account_followers_path(account_id: user.id) do
      .count#followers_count= user.followers.count
      .count_type Followers
  %li.count_item
    =link_to account_followings_path(account_id: user.id) do
      .count= user.followings.count
      .count_type Followings
