// color
$color-text: #333333;
$color-text-thin: #9E9E9E;
$color-text-bl: #2F80ED;
$color-text-comment: #9B9B9B;

$color-btn: #FFE600;

$color-line: #9E9E9E;
$color-line_thin: #EEEEEE;

// font-family
$font-family: "Poppins", "Arial", sans-serif;
$font-family-medi: "Poppins Medium", "Arial", sans-serif;

// font-size
$font-size: 12px;
$font-size-sm: 11px;
$font-size-md: 14px;
$font-size-lg: 16px;

// 透明度
$opacity: 0.9;
