// articles
@use 'variables' as var;
@use 'mixins' as mix;

.section_articles {
  margin-top: 35px;
}

.article_list + .article_list {
  margin-top: 35px;
}

.article_author {
  display: flex;
  gap: 3px;
  align-items: center;
  author_info

  .author_info {
    display: flex;
    flex-direction: column;
  }

  .author_name {
    @include mix.font_medi(var.$font-size-md);
  }

  .article_time {
    color: var.$color-text-thin;
  }
}

.article_content {
  margin-top: 11px;
}

// 画像
.article_images {
  .image_list {
    width: 100%;
    height: 225px;
    display: grid;
    gap: 7px;
  }

  li {
    overflow: hidden;
    img {
      object-fit: cover;
      width: 100%;
      height: 100%;
    }
  }

  // 1枚：1列
  &.count-1 .image_list {
    grid-template-columns: 1fr;
  }

  // 2枚：2列
  &.count-2 .image_list {
    grid-template-columns: 1fr 1fr;
  }

  // 3枚： 6:4分割
  &.count-3 .image_list {
    grid-template-columns: 6fr 4fr;
    grid-template-rows: 1fr 1fr;

    .image_item_1 {
      grid-row: 1 / 3;
    }
    .image_item_2 {
      grid-column: 2;
      grid-row: 1;
    }
    .image_item_3 {
      grid-column: 2;
      grid-row: 2;
    }
  }
}

.article_actions {
  margin-top: 12px;
  display: flex;
  gap: 14px;

  img {
    display: block;
    width: 16px;
    height: auto;
  }
}

.article_text {
  margin-top: 8px;
  @include mix.font_medi(var.$font-size);

  .author_comment {
    span {
      margin-right: 3px;
    }

    p {
      display: inline;
      font-family: var.$font-family
    }
  }
}
