// comments
@use 'variables' as var;
@use 'mixins' as mix;

.section_comments {
  margin-top: 40px;
}

.comments_list {
  padding-bottom: 100px;
}

.comment + .comment {
  margin-top: 32px;
}

.comment {
  display: flex;
  gap: 14px;
}

.comment_avatar {
  padding: 7px 0;
}

.comment_text {
  display: flex;
  flex-direction: column;
}

.comment_name {
  font-size: var.$font-size-lg;
}

.comment_content {
  font-size: var.$font-size-md;
  color: var.$color-text-comment;
  padding-right: 15px;
}

// 新規コメント入力
.section_new_comment {
  box-sizing: border-box;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 20px 16px;
}

.new_comment_input {
  display: flex;
  align-items: center;
  gap: 10px;
  width: 100%;
  height: 42px;
  padding: 12px 20px;
  background-color: #fff;
  box-shadow: 0px 4px 12px rgb(0 0 0 / 15%);

  img {
    display: block;
    width: 20px;
    height: auto;
  }

  textarea {
    font-family: var.$font-family;
    font-size: var.$font-size-md;
    width: 100%;
    resize: none;
    border: none;
    caret-color: var.$color-text-thin;
  }

  textarea:focus {
    outline:0;
  }
}
