// profile
@use 'variables' as var;
@use 'mixins' as mix;

.section_profile {
  margin-top: 30px;

  .user_image {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

// カウント
.user_counts_list {
  margin-top: 43px;
  display: flex;
  justify-content: center;
  gap: 30px;
  width: 100%;
}

.count_item {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 70px;
  text-align: center;

  .count {
    @include mix.font_medi(var.$font-size-lg);
  }

  .count_type {
    @include mix.font_medi(var.$font-size-md);
    color: var.$color-text-thin;
  }
}

.user_article_eyecatches {
  margin-top: 42px;
}

// アイキャッチのレイアウト
.eyecatches_list_group + .eyecatches_list_group {
  margin-top: 8px;
}

.eyecatches_list_group {
  width: 100%;
  height: 392px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  gap: 8px;

  li {
    overflow: hidden;
    img {
      object-fit: cover;
      width: 100%;
      height: 100%;
    }
  }

  .eyecatch_1 {
    grid-column: 1 / 4;
    grid-row: 1 / 3;
  }
  .eyecatch_2 {
    grid-column: 4 / 6;
    grid-row: 1;
  }
  .eyecatch_3 {
    grid-column: 4 / 6;
    grid-row: 2;
  }

  .eyecatch_4 {
    grid-column: 1 / 3;
    grid-row: 3;
  }

  .eyecatch_5 {
    grid-column: 1 / 3;
    grid-row: 4;
  }

  .eyecatch_6 {
    grid-column: 3 / 6;
    grid-row: 3 / 5;
  }
}
