// profile
@use 'variables' as var;
@use 'mixins' as mix;

.section_profile {
  margin-top: 30px;

  .user_image {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

// カウント
.user_counts_list {
  margin-top: 43px;
  display: flex;
  justify-content: center;
  gap: 30px;
  width: 100%;
}

.count_item {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 70px;
  text-align: center;

  .count {
    @include mix.font_medi(var.$font-size-lg);
  }

  .count_type {
    @include mix.font_medi(var.$font-size-md);
    color: var.$color-text-thin;
  }
}

.user_article_eyecatches {
  margin-top: 42px;
}
