// devise
@use 'variables' as var;
@use 'mixins' as mix;

.user_form_img {
  display: block;
  width: 100%;
  height: auto;
  object-fit:cover;
}

.container.user_form {
  @include mix.font_medi(var.$font-size-sm);
  padding-top: 35px;

  .field + .field {
    margin-top: 20px;
  }

  label {
  color: var.$color-text-thin;
  }

  input {
    font-family: var.$font-family;
    font-size: var.$font-size-lg;
    width: 100%;
    padding: 10px;
  }

  .actions {
    .button_submit {
      @include mix.font_medi(var.$font-size-md);
      background-color: var.$color-btn;
      border-bottom: none;
      width: 100%;
      height: 48px;
    }

    .login {
      margin-top: 130px;
    }

    .create {
      margin-top: 90px;
    }
  }
}

.forget_pass {
  text-align: right;
  margin-top: 16px;

  a {
    font-family: var.$font-family;
    font-size: var.$font-size-sm;
    color: #CCCCCC;
  }
}
